.header {
  
}

.headerLine {
  fill: #7a7a7a;
  width: 100%;
  height: 1;
  x: 0; y: 36;
}

.headerText {
  font-size: 24;
  font-family: Seville-Regular;
  fill: lightsteelblue;
}

#lblTime {
  font-size: 130;
  font-family: Seville-Bold;
  font-weight: bold;
  text-length: 32;
  text-anchor: middle;
  x: 25%;
  y: 150;
  fill: white;
}

#lblMins {
  font-size: 130;
  font-family: Seville-Bold;
  font-weight: bold;
  text-length: 32;
  text-anchor: middle;
  x: 25%;
  y: 255;
  fill: white;
}

.leftFoot {
  width: 50%; height: 98; 
  x: 0; y: 190; 
  text-anchor: middle;
}

.botLeft {
  width: 50%; height: 98; 
  x: 0; y: 220; 
  text-anchor: middle;
}

.rightFoot {
  width: 50%; height: 98; 
  x: 50%; y: 160; 
  text-anchor: middle;
}

.botRight {
  width: 50%; height: 98; 
  x: 50%; y: 195; 
  text-anchor: middle;
}

.topRight {
  width: 50%; height: 98; 
  x: 50%; y: 30; 
  text-anchor: middle;
}

.midRight {
  width: 50%; height: 98; 
  x: 50%; y: 65; 
  text-anchor: middle;
}

.dayText {
  fill: white;
  font-size: 36;
  font-family: Seville-Regular;
  x: 50%;
  text-anchor: middle;
}

.footerText {
  font-size: 48;
  font-family: Seville-Regular;
  fill: white;
  x: 50%;
  text-anchor: middle;
}

.subtleText {
  font-size: 18;
  font-family: Seville-Book;
  fill: lightsteelblue;
  x: 50%;
  text-anchor: middle;
}